@import '../common/styles/scss/variables';
@import "../common/styles/scss/mixins";

.hireBlock {
  background-color: $bgSecondColor;
  padding: 100px 0;

  .hireContainer {
    @include container();
    @include flex(column, center, center, wrap);
  }

  .hireBtn {
    display: flex;
    margin: 15px 0 0;
    width: 100%;
  }

}
