@import '../common/styles/scss/variables';

.hireBlock {
  background-color: $bgSecondColor;
  padding: 100px 0;

  .hireContainer {
    flex-direction: column;
    justify-content: center;
  }

  .hireBtn {
    display: flex;
    margin: 15px 0 0;
    width: 100%;
  }

}
