@import './../common/styles/scss/variables';

.header {
    padding: 0 10%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $bgSecondColor;
}





