@import '../common/styles/scss/variables';
@import "../common/styles/scss/mixins";

.contactsBlock {
  background-color: $bgColor;
  padding: 100px 0;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .contactForm {
      margin-top: 30px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .formGroupInput {
        padding: 6px 12px;
        margin-bottom: 1rem;
        width: 100%;
        background: $bgSecondColor;
        border: 1px solid #4a4a4a;
        @include text($textFontFamily, 12px, 1.8, 400);
      }

      .formGroupTextarea {
        padding: 15px;
        width: 100%;
        background: $bgSecondColor;
        border: 1px solid #4a4a4a;
        @include text($textFontFamily, 12px, 1.8, 400);
      }

      @media screen and (max-width: 880px) {
        width: 85%;
      }
    }
  }
}