@import '../common/styles/scss/variables';
@import "../common/styles/scss/mixins";
@import '../common/components/button/Button.module';

.contactsBlock {
  padding: 120px 0;

  .contactsContainer {
    @include container();
    @include flex(column, flex-start, center, wrap);

    .contactForm {
      margin-top: 30px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .formGroupInput {
        @include text($textFontFamily, 12px, 1.8, 400);
        padding: 6px 12px;
        margin-bottom: 18px;
        width: 100%;
        background: $bgSecondColor;
        border: 1px solid #4a4a4a;

        &:focus {
          background: $bgColor;
        }
      }

      .formGroupTextarea {
        @include text($textFontFamily, 12px, 1.8, 400);
        padding: 15px;
        width: 100%;
        background: $bgSecondColor;
        border: 1px solid #4a4a4a;

        &:focus {
          background: $bgColor;
        }
      }

      .errorsName {
        position: absolute;
        left: 0;
        top: 33px;
        color: $primaryColor;
      }

      .errorsContacts {
        position: absolute;
        left: 0;
        top: 86.5px;
        color: $primaryColor;
      }

      .errorsMessage {
        position: absolute;
        left: 0;
        top: 288px;
        color: $primaryColor;
      }

      @media screen and (max-width: 880px) {
        width: 85%;
      }
    }

    button[type='submit'] {
      @extend .btn;
      background-color: transparent;
      margin-top: 30px;
    }
  }
}