.contactsBlock {
    background-color: #d6d9e5;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #cecece;
}

.contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm input, .contactForm textarea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
    background-color: #a8a8a8;
    cursor: pointer;
}