@import '../../common/styles/scss/variables';
@import "../../common/styles/scss/mixins";

.skill {
  max-width: 340px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;

  .icon {
    width: 80px;
    margin: 0 auto 30px;
    background: rgba(255, 255, 255, 0.1);
    line-height: 80px;
    text-align: center;
    transform: rotate(45deg);
    font-size: 40px;
  }

  .skillInfo {
    padding-top: 30px;
    text-align: center;

    .skillTitle {
      @include text($titleFontFamily, 16px, 1.2, 700);
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0 15px;
    }

    .skillDescription {
      @include text($textFontFamily, 12px, 1.8, 400);
      text-align: center;
    }
  }
}



