@import '../../styles/scss/variables';
@import "../../styles/scss/mixins";

.title {
  text-align: center;
  margin: 0 0 30px;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;
  @include text($titleFontFamily, 36px, 1.2, 400);

  &::before {
    content: '';
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

