.project {
    width: 450px;
    display: flex;
    flex-direction: column;
}


.image {
    height: 300px;
    background-color: #f1f5e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewBtn {
    padding: 10px 20px;
    background-color: #a8a8a8;
    cursor: pointer;
}
