@import '../common/styles/scss/variables';
@import "../common/styles/scss/mixins";

.skillsBlock {
  background-color: $bgSecondColor;
  padding: 100px 0;

  .skillsContainer {
    @include container();
    @include flex(column, space-between, center, wrap);
    max-width: 1140px;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 30px -15px 0;

      @media screen and (max-width: 880px) {
        justify-content: center;
      }
    }
  }
}





