@import '../common/styles/scss/variables';
@import "../common/styles/scss/mixins";

.mainBlock {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $bgColor;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0;
    margin: 0 auto 0;
    align-items: center;
    align-content: center;

    .text {
      color: #fff;
      width: 500px;
      @media screen and (max-width: 630px) {
        width: 300px;
      }

      .myGreeting {
        @include text($textFontFamily, 16px, 1.8, 400);
      }

      .fullName {
        @include text($titleFontFamily, 50px, 1.2, 600);
        padding: 10px 0 10px;
        letter-spacing: 5px;

        .name {
          display: inline-block;
        }
      }

      .myProfession {
        @include text($textFontFamily, 27px, 1.8, 400);
        margin: 0;
      }
    }

    .photo {
      width: 300px;
      height: 400px;
      @include background(cover, center, no-repeat);
    }

    @media screen and (max-width: 1020px) {
      justify-content: center;
    }
  }
}





