.mainBlock{
    min-height: 100vh;
    background-color: #cdd4ad;
}

.text {
    width: 300px;
    background-color: #f1f5e8;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #adafa6;
}