.footer {
    background-color: #d0c1ce;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #cecece;
}

.socialIcons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
