.projectsBlock {
    background-color: #1f1f20;
    padding: 100px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    position: relative;
}

.title::before {
    content: '';
    background: #4e93e6;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,50%);
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (max-width: 1124px) {
    .projects {
        justify-content: center;
    }
}
