@import '../common/styles/scss/variables';
@import '../common/styles/scss/mixins';

.projectsBlock {
  padding: 120px 0;

  .projectsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 30px;

      @media screen and (max-width: 1145px) {
        justify-content: center;
      }
    }
  }
}
